{{ define "main" }}
<article class="dt dt--fixed mw7 center ph2">
  <section class="cf f4 lh-copy">{{- .Content -}}</section>

  <section class="grid grid-columns-2-ns grid-columns-3-l gc2 gr2">
    {{ range .Pages }} {{ if not .Draft }}
    <div class="w-100">
      {{ $featured_image := .Params.featured_image }}
      <article class="ba b--black-40 h-100">
        <section class="flex flex-column">
          {{ $url := or .Params.external_link .URL }}
          <div class="w-100 mw-100-ns pl0-ns flex-ns">
            <a
              href="{{$url}}"
              class="color-inherit dim link link-transition"
              {{if .Params.external_link}}rel="noopener" target="_blank" {{end}}
            >
              {{ $thumbnailImage := "images/github-project.png" }}
              <!-- -->
              {{ if .Params.featured_image }}
                {{ $thumbnailImage = .Params.featured_image }}
              {{ end }}
              <!-- -->
              {{ $image := resources.Get $thumbnailImage }}
              <!-- -->
              <img
                src="{{ $image.RelPermalink }}"
                class="img w-auto bb b--black-20"
                alt="image from {{ .Title }}"
              />

              <div class="flex flex-column">
                <div class="pa2">
                  <div class="f5 fw6 mb1 lh-title">
                    {{ .Title }}
                    <!-- -->
                    {{ if .Params.external_link }}
                      {{- partial "svg/new-window.svg" (dict "size" "10px") -}}
                    {{ end }}
                  </div>
                  <div
                    class="f6 mt2 lh-copy nested-copy-line-height nested-links truncate-3"
                  >
                    {{ .Summary | truncate 200 }}
                </div>
                </div>
              </div>
            </a>
          </div>
        </section>
      </article>
    </div>
    {{ end }} {{ end }}
  </section>
</article>
{{ end }}
